<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/reg_log_elfjel.js"></script>
    <link rel="stylesheet" href="../css/reg_log_elfjel_stilus.css">
    <title>Elfelejtettjelszo</title>
</head>

<body>
    <main>
       <header>
           <h2>Bejelentkezés</h2>
           <div id="logo">
            <a href="/"><img src="" alt="szia, máj ném isz logo"></a>
        </div>
        </header>
        
       <article>
        <div style="text-align: center;">Add meg kérlek az e-mail címedet, hogy kiküldhessük az új jelszó kérelmet.</div>
           <form action="#">
               <label for="emaila">E-mail cím: </label>
               <input type="email" id="emaila" name="emaila" placeholder="aaa123@bbb.ccc">
               <br><input type="submit" value="Küldés" id="elfjelKuldes">
           </form>
       </article>
       <footer>
        <p>@Minden jog fenntartva.</p>
       </footer>
    </main>
</body>