@charset "utf-8";
main{
    
    margin: auto;
    padding: auto;
    border: outset;
    display: grid;
    grid-template-areas: 
    "he he he he he he"
    "as ar ar ar ar ar";
}
header{
    height: 100px;
    
    grid-area: he;
    border:2px solid palegoldenrod ;
   
}
aside{
    
    grid-area: as;
    border: peru;
    display: grid;
    grid-template-columns: 1fr;

}
article{
    height: 700px;
    border: red;
    grid-area: ar;
}
.elemek{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    border:2px solid palegoldenrod ;
}
.elem{
    border:2px solid palegoldenrod ;
    padding: 5px;
}
#javitas{
    background-color: aqua;
    width: 100%;
    grid-column:1/6;
    display: grid;
    grid-template-columns: auto 500px;
    padding-left: 20%;
    padding-right: 20%;
}