
@charset "utf-8";
#gomb{
  width: 50px;
  text-align: center;
}
table {
  border-collapse: collapse;
  border-style: hidden;
}
table td {
  /* padding: 0.5rem; */
  border: 3px solid rgb(145, 0, 0);
}
table th {
  /* padding: 0.5rem; */
  border: 3px solid rgb(145, 0, 0);
}
.oszlopSzam{
  width: 40px;
}