/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/app
/database
/config
/bootstrap
/routes
/storage
/tests
/vendor
/.editorconfig
/.env.example
/.styleci.yml
/artisan
/composer.json
/composer.lock
/package.json
/phpunit.xml
/README.md
/server.php
/webpack.mix.js
/.gitattributes
/public