@charset "utf-8";
main{
    
    margin: auto;
    padding: auto;
    border: outset;
    display: grid;
    grid-template-areas: 
    "he he he he he he"
    "as ar ar ar ar ar";
}
header{
    height: 100px;
    
    grid-area: he;
    border:2px solid palegoldenrod ;
   
}
aside{
    
    grid-area: as;
    border: peru;
    display: grid;
    grid-template-columns: 1fr;

}
article{
    height: 700px;
    border: red;
    grid-area: ar;
}
.elemek{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    border:2px solid palegoldenrod ;
}
.elem{
    border:2px solid palegoldenrod ;
    padding: 5px;
}