<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <main>
        <header>
<p>kijelentkezés</p>
        </header>
        <aside> 
            <button id="emberek">emberek</button>
            <button id="gepek">gepek</button>
            <button id="munkaido">munkaido</button>
            <button id="edzések">edzések</button>
            <button id="szekrenyek">szekrenyek</button>
            <button id="gyakorlatok">gyakorlatok</button>
            <button id="termek">termek</button>
            <button id="termek">berletek</button>
        
        </aside>
        <article><section class="elemek">
            <div class="elem">
                <h3 class="elemnev">Lorem ipsum dolor</h3>
                <img src="kepek/kep_1.jpeg" alt="" class="kep" />
                <p class="email"></p>
                <p class="jogosultsag"></p>
                <p class="szulDatum"></p>
                <p class="Neme"></p>
                <p class="igazolványszám"> </p>
                <p class="igazolványTipusa"> </p>
                <button class="torol">torol</button>
                <button class="modosit">modosit</button>
                
            </div>
        </section></article>

    </main>


</body>
</html>