<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/gepek.js"></script>
    <title>Kezdőoldal</title>
</head>

<body>
    <main>
        <header>
         
        </header>   
        <nav>
            <ul>
                <li><a href="index.html">Főoldal</a></li>
                <li><a>Cikkek/ Étrend</a></li>
                <li><a href="kapcsolatok.html">Kapcsolatok/ szabályzat</a></li>
                <li><a>Vásárlás</a></li>
            </ul>
        </nav>
        <article id="sablon">
            <div id="klonja">
                <h3>Cím</h3>
                <img src="" alt="">
                <p>Leírás</p>
                <spam>Videó Link</spam>
            </div>
        </article>
        <footer>
            <p>@Minden jog fenntartva.</p>
        </footer>
    </main>
</body>