<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/kapcsolatok_stilus.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/kapcsolatok_script.js"></script>
    <title>Kapcsolatok/szabályzat</title>
</head>

<body>
    <main>
        <header>
            <div id="logo">
                <img src="" alt="szia, máj ném isz logo">
            </div>
            <div id="ki-be_jel">
                <div id="bejelentkezes">
                    <p><a>Bejelentkezés</a></p>
                </div>
                <div id="regisztracio">
                    <p><a>Regisztració</a></p>
                </div>
            </div>
            <div id="k_mezo">
                <form>
                    <input type="text" name="k_mezo" id="k_mezo" placeholder="Keresés:">
                </form>
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="index.html">Főoldal</a></li>
                <li><a>Cikkek/ Étrend</a></li>
                <li><a>Gépek</a></li>
                <li><a>Vásárlás</a></li>
            </ul>
        </nav>
        <article id="szabalyzat">    
            <h1>Szabályzat:</h1>
            <ul>
                <li>A terembe belépés után, az öltözőben, át kell venni a váltó ruhát, legfontosabb a váltó cipő!</li>                            
                <li>Mindig hozz magaddal törölközőt!</li>
                <li>Edzés közben enni, tilos!</li>
                <li>A termben alkoholt vagy más kábító/ bódító szert fogyasztani tilos!</li>
                <li>Egy gyakrolat elvégzése után pakolj el magad után!</li>
                <li>Ha végeztél a gyakorlattal és megizzadtál, tödöld le fertőtlenítővel az eszközt vagy a gépet!</li>
                <li>Ha nem bíród el a súlyokat, csináld kissebbel!</li>
                <li>Ha nem tudod vissza tenni a súlyokat kérj segítséget, akár a bent lévőktől, akár az edzőktől vagy csak a dolgozóktól!</li>
                <li>Ha valakinek szüksége van segítségre, legyél kedves, törődj mással!</li>
                <li>Ha egyedül edzel és bármilyen kárt okozol magadban vagy másban, azért a terem nem felelős!</li>
                <li>Ha egyedül edzel és bármilyen kárt okozol a berendezésben, annak árát meg kell téríteni!</li>
                <li>Verekedni/ balhézni/ kötekedni szigorúan tilos!</li>
                <li>Érezd jól magad!</li>
            </ul>   
        </article>
        <aside id="kapcsolatok">
            <div id="leiras">
                <p>
                Fenntartó: Bika cég és bt<br>
                Terem neve: Bika edző és fittnes terem<br>
                Telefonszám: 06 30 553 2342<br>
                Fax: bikaterem@fax.com <br>
                Email: bikaterem@gmail.cop <br>
                Irányítószám: 6996 <br>
                Város: Szabadbattyán <br>
                Utca: Vörösmarty utca <br>
                Szám: 62 <br>
                <div id="terkep">

                </div>
                <div>
                    <table>
                        <tr>
                            <th>Nyitvatartás:</th>
                            <th>Időpont:</th>
                        </tr>
                        <tr>
                            <td>Hétfő:</td>
                            <td>6:00-22:00</td>
                        </tr>
                        <tr>
                            <td>Kedd:</td>
                            <td>6:00-22:00</td>
                        </tr>
                        <tr>
                            <td>Szerda</td>
                            <td>6:00-22:00</td>
                        </tr>
                        <tr>
                            <td>Csütörtök</td>
                            <td>6:00-22:00</td>
                        </tr>
                        <tr>
                            <td>Péntek</td>
                            <td>6:00-22:00</td>
                        </tr>
                        <tr>
                            <td>Szombat:</td>
                            <td>6:00-22:00</td>
                        </tr>
                        <tr>
                            <td>Vasárnap</td>
                            <td>6:00-22:00</td>
                        </tr>
                    </table>
                </div>
                </p>
            </div>
        </aside>
        <footer>
            <p>@Minden jog fenntartva.</p>
        </footer>
    </main>
</body>