@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    margin: auto;
    background-image: url("../kepek/hatter3.jpg");
    color: white;
    opacity: 98%;
    text-align: justify;
}

header div img {
    width: 100%;
}

.authentik {
    grid-area: u;
    position: absolute;
    z-index: 6000;
    top: 50px
}

.authinnn {
    text-decoration: none;
    font-size: 23px;
}

.felulet {
    grid-area: c;
    width: 100%;
    margin: auto;
    /*border: 1px solid blanchedalmond;*/
}

.kepvaltas {
    grid-area: h;
    width: 100%;
    margin: auto;
}

#logo {
    position: fixed;
    z-index: 6000;
    left: 60px;
    top: 60px;
}

#ki-be_jel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 23px;
    color: rgba(241, 50, 36, 0.842);
    font-weight: 480;
}

#bejelentkezes {
    position: fixed;
    z-index: 6000;
    right: 220px;
    top: 20px;
}
#regisztracio {
    position: fixed;
    z-index: 6000;
    right: 80px;
    top: 20px;
}

nav {
    grid-area: n;
    height: 60px;
    background-color: rgba(235, 80, 69, 0.842);
    padding-top: 13px;
    opacity: 90%;
    text-align: center;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 70%;
    margin: auto;
    text-align: center;
}

nav ul li {
    width: 80%;
    margin: auto;
    list-style: none;
    text-align: center;
}

footer {
    grid-area: f;
    text-align: center;
    background-color: rgba(235, 80, 69, 0.842);
    opacity: 80%;
}

.instakep {
    font-size: 100px;
    color: orange;
    margin-right: 15px;
}

.facekep {
    font-size: 100px;
    color: blue;
    margin-right: 34px;
}

footer span {
    font-size: 40px;
}

a:link {
    color: white;
}
a:visited {
    color: red;
}
a:hover {
    color: orange;
    text-decoration: none;
}
a:active {
    color: rgba(235, 80, 69, 0.842);
}
article div ul li a:visited {
    color: rgba(235, 80, 69, 0.842);
}
nav ul li a:visited {
    color: white;
}
nav ul li a:hover {
    color: orange;
}
#logo img {
    width: 100px;
}

@media only screen and (max-width: 1200px) {
    #logo {
        visibility: hidden;
    }
    main {
        display: grid;
        grid-template-areas:
            "c c c c c c"
            "h h h h h h"
            "u u u u u u"
            "n n n n n n"
            "s s s s s s"
            "a a a a a a"
            "r r r r r r"
            "t t t t t t"
            "f f f f f f";
        font-size: 17px;
    }
    nav {
        padding: 0px;
        height: auto;
        width: 100%;
        margin: auto;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    aside {
        margin-bottom: 30px;
    }
    article img {
        width: 100%;
        height: auto;
    }
    .elemek {
        display: grid;
        grid-template-columns: 1fr 1fr;   
    }
    .elemek div{
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    #valasztek{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}

@media only screen and (max-width: 700px) {
    .elemek{
        display: grid;
        grid-template-columns: 1fr;
    }
    .elemek div{
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
    }
}

