body {
    display: grid;
    grid-template-areas:
        "he he"
        "as ar "
        "as ar";
}
aside {
    width:  15%;
    grid-area: as;
}
header{
    grid-area: he;
}
article{
    grid-area: ar;
    display: grid;
    width: 100%;
}
div{
    height: 500px;
    width: 95%;
    padding: auto;
    margin: 100px solid black;
}
select{
    width: 150px;
}
body{
    background-color: aqua;
}
main{
    
    width: 100%;
}
@media only screen and (max-width: 1000px) {

    main {
        display: grid;
        grid-template-areas:
            "he"
            "as"
            "ar";
    }
    aside{
        width: 100%;
        
    }
    aside button{
        height: 40px;
    }
    header{
        font-size: x-large;
};
    
}
