aside {
    grid-area: k;
}
#chart {
    height: 400px;
    width: 50%;
    margin: auto;
    grid-area: f;
}
#chart2 {
    height: 400px;
    grid-area: e;
    width: 50%;
    margin: auto;
}
#chart3 {
    height: 400px;
    grid-area: c;
    width: 50%;
    margin: auto;
}
#chart4 {
    height: 400px;
    grid-area: d;
    width: 50%;
    margin: auto;
}
#chart5 {
    grid-area: b;
    height: 600px;
    width: 100%;
    margin: auto;
}
#chart6 {
    grid-area: a;
    height: 600px;
    width: 100%;
    margin: auto;
}
#napo {
    grid-area: n;
}
article {
    display: grid;
    grid-template-areas:
        "k k k k k k"
        "a a a a a a" 
        "b b b b b b"
        "c c c d d d"
        "e e e f f f"
        "n n n n n n";
}