@charset "utf-8";

body {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    background-image: url("../kepek/hatter3.jpg");
    opacity: 89%;
}

main {
    display: grid;
    grid-template-areas: 
    "h h h h h h"
    "n n n n n n"
    "a a a a a a"
    "s s s s s s"
    "f f f f f f";
    background-color: bisque;
    font-size: 17px;
}

header {
    grid-area: h;
    height: 600px;
    width: 1200px;
}

#bal{
    position: absolute;
    left: 40px;
    top: 120px;
    height: 760px;
}

#jobb{
    position: absolute;
    right: 40px;
    top: 120px;
    height: 760px;
}

#logo {
    position: fixed;
    z-index: 6000;
    left: 100px;
    top: 80px;
}

#ki-be_jel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 23px;
    color: rgba(241, 50, 36, 0.842);
    font-weight: 480;
}

#bejelentkezes {
    position: fixed;
    z-index: 6000;
    right: 200px;
    top: 20px;
    
}
#regisztracio {
    position: fixed;
    z-index: 6000;
    right: 60px;
    top: 20px;
}
#k_mezo{
    position: fixed;
    z-index: 6000;
    right: 80px;
    top: 80px;
    font-size: 19px;
}

nav {
    grid-area: n;
    background-color: rgba(235, 80, 69, 0.842);
    padding-top: 13px;
    font-size: 19px;
}

nav ul{
    display: grid;
    grid-template-columns: 300px 100px 400px 100px;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    color: white;
}

article {
    grid-area: a;
    margin-left: 50px;
    margin-right: 50px;
}

article div {
    padding: 6px
}

#dieta1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:5px;
    margin-top: 30px;
    background-color: blanchedalmond;
}

#dieta2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:5px;
    margin-top: 30px;
    background-color: blanchedalmond;
}

#dieta3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:5px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    background-color: blanchedalmond;
}
#dieta4 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap:10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    background-color: blanchedalmond;
}

aside {
    grid-area: s;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 20px;
}

footer{
    grid-area: f;
    text-align: center;
    background-color: rgba(235, 80, 69, 0.842);
    opacity: 80%;
}

.instakep{
    /*background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);*/
    /*background-image: radial-gradient(circle, red, yellow, green);*/
    font-size:100px;
    color: orange;
    margin-right: 15px;
}

.facekep{
    font-size:100px;
    color: blue;
    margin-right: 34px;
}

footer span{
    font-size: 40px;
}


/* unvisited link */
a:link {
    color: white;
}
  
/* visited link */
a:visited {
    color: red;
}
  
/* mouse over link */
a:hover {
    color: orange;
    text-decoration: none;
}
  
/* selected link */
a:active {
    color: rgba(235, 80, 69, 0.842);
}

nav ul li a:visited{color: white;}

nav ul li a:hover{color: orange;}
