
@charset "utf-8";
.idopontok table, th,td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    padding:
}
.idopontok table th,
.idopontok table td {
  padding: 12px 15px;
}