<!DOCTYPE html>
<html lang="hu-HU">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Free Web tutorials" />
        <meta name="keywords" content="HTML, CSS, JavaScript" />
        <meta name="author" content="John Doe" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <!-- Piktogramm libary -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <!-- Az oldlahoz tartozó css -->
        <link rel="stylesheet" href="css/laravel_bootstrap.css" />
        <link rel="stylesheet" href="../css/cikkek_etrend.css" />
        <!-- Title -->
        <title>Cikkek/ Étrend</title>
    </head>

    <body>
        <main>
            <header>
                <img src="../kepek/headerimg3.jpg" alt="bogyó" />
            </header>
            <nav>
                <ul>
                    <li><a href="/" a>Főoldal</a></li>
                    <li><a href="/cikkek_etrend">Cikkek/ Étrend</a></li>
                    <li><a href="/gepek">Gépek</a></li>
                    <li><a href="/kapcsolatok">Elérhetőség</a></li>
                    <li><a href="/vasarlas">Vásárlás</a></li>
                </ul>
            </nav>
            <article>
                <div class="navbar">
                    <div class="dropdown">
                        <button class="dropbtn">
                            Reggeli
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <img
                                src="../kepek/kaprosturo.jpg"
                                alt="ez nem kaja de nem baj"
                            />
                            <p>
                                Az egészséges táplálkozásnak minden életkorban
                                alapvető jelentősége van szerepe elvitathatatlan
                                a testi-lelki egészség, jó szellemi és fizikai
                                teljesítőképesség megőrzése, az optimális
                                növekedés, továbbá az egészséges öregedés
                                szempontjából. A táplálkozási ajánlások közel
                                hozzák a táplálkozástudományi kutatások
                                eredményeit a lakosság mindenegyes tagjához,
                                hiszen érthető és könnyen alkalmazható formában
                                mutatják meg, hogyan is célszerű kialakítanunk
                                napi étrendünket.
                            </p>
                            <p>
                                Kapros túrókrém, Graham kenyér, zöldpaprika,
                                tej.<br /><br />
                                Hozzávalók 4 főre:<br />
                                - félzsíros tehéntúró (kb. 1 kis doboz) - 240
                                g<br />
                                - 12%-os tejföl (kb. 1 kis pohár) - 120 g<br />
                                - friss kapor - ízlés szerint<br />
                                - Graham kenyér (kb. 4 vékony szelet) - 250 g<br />
                                - zöldpaprika (2 nagy db) - 240 g<br />
                                - tej 1,5%-os - 1,2 l<br /><br />
                                Elkészítés: A tehéntúrót elkeverjük a tejföllel,
                                majd ízesítjük a friss apróra vágott kaporral.
                                Graham kenyérre kenve tálaljuk, mellé
                                zöldpaprikát és tejet kínálunk.<br /><br />
                                Egy adag energia- és tápanyagtartalma: Energia:
                                461 kcal; Zsír: 12,9 g; Szénhidrát: 57,6 g;
                                Fehérje: 27,9 g
                            </p>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            Ebéd, leves
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <p>
                                Brokkolikrémleves<br /><br />
                                Hozzávalók 4 főre:<br />
                                - margarin (kb. 2 csapott evőkanál) - 25 g<br />
                                - vöröshagyma (1 közepes fej) - 80 g<br />
                                - fokhagyma - 2-3 gerezd<br />
                                - brokkoli - 400 g<br />
                                - főzőtejszín 10%-os - 4 dl<br />
                                - szerecsendió, bors, só - ízlés szerint<br /><br />
                            </p>
                            <p>
                                Elkészítés:<br />
                                A megtisztított vöröshagymát apróra vágjuk és a
                                zúzott fokhagymával együtt a megolvasztott
                                margarinon üvegesre pároljuk, majd hozzáadjuk a
                                brokkolit és adagnagyságnak megfelelő mennyiségű
                                vízzel felöntjük. A brokkolit sóval, borssal és
                                szerecsendióval ízesítjük. Amikor a brokkoli
                                megfőtt, botmixerrel pürésítjük és tejszínnel
                                besűrítjük.
                                <br /><br />
                                Egy adag étel energia- és tápanyagtartalma:<br />
                                Energia: 175 kcal; Zsír: 14,8 g; Szénhidrát: 5,7
                                g; Fehérje: 4,6 g<br />
                            </p>
                            <img
                                src="../kepek/brokkolikremleves.jpg"
                                alt="ez nem kaja de nem baj"
                            />
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            Ebéd, második
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <p>
                                Paradicsommal sült csirkemell burgonyapürével és
                                lilakáposzta salátával<br /><br />
                                Hozzávalók 4 főre:<br />
                                Paradicsommal sült csirkemell:<br />
                                - csirkemell (4 tenyérnyi szelet) - 400 g<br />
                                - paradicsom (3 közepes db) - 250 g<br />
                                - trappista sajt - 100 g<br />
                                - petrezselyemzöld, rozmaring, kakukkfű, bors -
                                ízlés szerint<br /><br />
                                Burgonyapüré:<br />
                                - burgonya - 1 kg<br />
                                - 1,5%-os tej - 3 dl<br />
                                - margarin (4 teáskanál) - 40 g<br />
                                - só - 1 mokkáskanál<br /><br />
                            </p>
                            <p>
                                Vöröskáposzta saláta:<br />
                                - vöröskáposzta (kb. fél fej) - 400 g<br />
                                - vöröshagyma (kb. 2 evőkanál) - 40 g<br />
                                - ecet (kb. 1 evőkanál) - 10 g<br />
                                - cukor (kb. 3 teáskanál) - 15 g<br />
                                - köménymag - ízlés szerint<br /><br />
                                Elkészítés:<br /><br />
                                Paradicsommal sült csirkemell:<br />
                                A megtisztított szeletekre vágott csirkemelleket
                                befűszerezzük és egy alufóliával kibélelt
                                tepsibe fektetjük. A csirkemellek tetejére
                                szeletelt paradicsomot és reszelt sajtot
                                teszünk. 180 fokos sütőben 40 percig lefedve
                                sütjük, majd az alufóliát eltávolítva további 10
                                percig sütjük.
                            </p>
                            <img
                                src="../kepek/paradicsomoscsirke.jpg"
                                alt="ez nem kaja de nem baj"
                            />
                            <p>
                                Burgonyapüré:<br />
                                A megtisztított kockára vágott burgonyát sós
                                vízben megfőzzük. Leszűrjük, margarint és tejet
                                adunk hozzá, majd burgonyanyomóval áttörjük.
                                <br /><br />
                                Lilakáposzta saláta:<br />
                                A megtisztított vöröshagymát és káposztát
                                lereszeljük. Cukorból, köménymagból és ecetből
                                kevés víz hozzáadásával páclevet készítünk, és a
                                káposztára öntjük. Hűtőszekrényben 2-3 órán
                                keresztül érleljük. <br /><br />
                                Egy adag energia- és tápanyagtartalma: Energia:
                                654 kcal; Zsír: 25 g; Szénhidrát: 64,9 g;
                                Fehérje: 40,6 g
                            </p>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            Vacsora
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <img
                                src="../kepek/tonhalaskenyer.jpg"
                                alt="ez nem kaja de nem baj"
                            />
                            <p>
                                Az egészséges táplálkozás nem ördöngösség, és
                                számos út vezet a megfelelő megoldáshoz. Magas
                                szintű tudományos bizonyítékok szólnak a
                                változatosság előnyei mellett, vagyis arról hogy
                                az egészséges táplálkozás megvalósításához nincs
                                szükség egyes élelmiszercsoportok kizárására az
                                étrendből. Ehelyett a különböző élelmiszerek
                                rugalmas kombinációjával válik kézzelfoghatóvá a
                                hétköznapok szintjén az egyéni igények,
                                preferenciák, kulturális hagyományok
                                figyelembevételével az egészséges táplálkozás.
                            </p>
                            <p>
                                Tonhalkrémes korpás kifli, narancslé<br /><br />
                                Hozzávalók 4 főre:<br />
                                - olajos tonhal (kb.4 evőkanál) - 120 g<br />
                                - margarin, 35%-os (kb. 4 teáskanál) - 40 g<br />
                                - majonéz (kb.4 teáskanál) - 40 g<br />
                                - lilahagyma (kb. 8 evőkanál) - 120 g<br />
                                - zöldpaprika (kb. 8 evőkanál) - 120 g<br />
                                - citromlé (kb.4 kávéskanál) - 8 g<br />
                                - korpás kifli - 4 db<br />
                                - narancslé (100%-os) - 8 dl
                            </p>
                            <p>
                                Elkészítés:<br />
                                A tonhalról lecsöpögtetjük az olajat, majd
                                villával összetörjük. Margarinnal és majonézzel
                                kikeverjük, ezt követően apróra vágott
                                lilahagymával, zöldpaprikával és friss
                                citromlével ízesítjük. Az így elkészült
                                tonhalkrémmel megkenjük a kiflit, és
                                narancslevet kínálunk mellé.
                                <br /><br />
                                Egy adag energia- és tápanyagtartalma:<br />
                                Energia: 399 kcal; Fehérje: 14,7 g; Zsír: 14,5
                                g; Szénhidrát: 50,7 g
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <aside>
                <p>
                    A fent leírt egy napi étrend egy nagyon népszerű ételek
                    kombinációja. Rengeteg mindent tartalamaz és csak végig
                    olvasva is össze fut a nyál a szádba. Rengeteg hasonló
                    étrendel kapcsolatos cikket találtok a facebook oldalunkat
                    amit minden lap alján elérhettek. Kövesd be az oldalunkat és
                    satalakozzatok facebook csoportunkhoz hogy nyomon kövesd
                    ezeket a cikkeket. A csoportba és a facebook oldalon is heti
                    rednszerességgel osztunk meg érdekesebbnél érdekesebb
                    étrendeket. Ezeke instagram-ra is kikerülnek. Ha van valami
                    tapasztalatod várjuk szívesen mindkét közösségi oldalon és
                    ha tudsz hasznos, ehhez kapcsolodó, akár étrendet, akár
                    receptet, oszd meg velünk.
                </p>
            </aside>
            <footer>
                <br />
                <a href="#"><i class="fa fa-instagram instakep"></i></a
                ><span>Instagram elérhetőség</span><br />
                <a href="#"><i class="fa fa-facebook facekep"></i></a
                ><span>Facebook elérhetőség</span><br /><br />Mindkét helyen
                elérhetőek vagyunk.<br />Írj nyugodtan!<br /><br /><br />

                <div id="jogok">
                    <p>@Minden jog fenntartva.</p>
                </div>
            </footer>
        </main>
    </body>
</html>
