<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Edzo oldal" />
    <meta name="author" content="Bogdán Gábor" />
    <link rel="icon" href="bika.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="ajax.js"></script>
    <link href="EdzoCss/header.css" rel="stylesheet" type="text/css" />
    <script src="edzo.js"></script>
    <script src="edzoIdopontok.js"></script>
    <title>Edzo felulet</title>
  </head>
  <body>
    <main>
      <header>
        <nav>
          <ul>
            <li><a href="rec.html">Edzo felulet</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
          </ul>
        </nav>
      </header>
    <article>
      <form>
        <!-- <div class="form-group" style="display: inline-flex;"> -->
          <input placeholder="személy neve" type="txt"  class="szemelyKereso" required/>
          <input class="datumLefoglal"  type="datetime-local"  required/> <!-- step="3600" beállítaná hogy csak óra végződésúü legyen-->
          <button type="button" class="lefoglal">Lefoglal</button>
          <!-- <input type="submit" class="lefoglal" value="Lefoglal" > -->
        </div>
      </form>
      <div class="idopontok"></div>
    </article>
    <section>
      
      
  </section>
  <footer>© Minden jog fenntartva ©<br /></footer>

</main>
</body>
</html>
