@charset "utf-8";
main{
    display: grid;
    grid-template-areas: 
    "h h h h h h"
    "a a a a a a"
    "s s s s s s"
    "f f f f f f"
}
header{
    grid-area:h;
}
nav{
    grid-area:n;
}
article{
    grid-area:a;
}
section{
    grid-area:s;
}
footer{
    grid-area:f;
}
html {
  font-family: sans-serif;
  background-color: white;
}
body{
    margin:0;
}
header {
  background-color: #222;
  border: 3px solid black;
  width: 100%;
  display: inline-block;
}
#keresoSzoveg{
  display: inline-block;
}
header form label,p{/* keresőnél összes szoveg */
  display: inline-block;
  font-size: 22px;
  color: whitesmoke;
}

header .letszam p,span{/* szabad helyek számláló szerkesztés */
  display: inline-block;
  font-size: 22px;
  color: whitesmoke;
}
.lefoglal {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
  /* szekrény szám kereső léptető módosítása */
  position:absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
}
input[type="number"]::-webkit-inner-spin-button:hover,input[type="number"]::-webkit-inner-spin-button:active {
  /* szekrény szám kereső léptető módosítása derengő piros szín*/
  box-shadow: 0 0 10px #cc0000;
  opacity: 0.8;
}

.lefoglal {
  /* Lefoglal gomb módosítása */
  background-color: black;
  color: #cc0000;
  border: 2px solid #cc0000;
  transition-duration: 0.4s;
  padding: 5px 10px 5px 10px;
}
.lefoglal:hover {
  /* Lefoglal gomb módosítása */
  color: white;
  border: 2px solid black;
}
.lefoglal:active {
  /* Lefoglal gomb módosítása */
  background-color: darkred;
}
#szemelyerror{
    color: yellow;
    position: fixed;
     text-align: center;
    /*width: 100%; */
    left: 350px;
    top:45px;
}
.keresettSzekreny td{
  display: grid;
  grid-template-columns: 1fr;
  font-size: 22px;
  color: whitesmoke;
}
.keresettSzemely p{
  margin: 2px;
}
.sikeresUzenet{
  color: green;
}
.sikertelenUzenet{
  color:red;
}
header .letszam,form{
  display: inline-block;
}
@media only screen and (max-width: 900px) {
  #kereso{
      display: block;
  }
  form{
    text-align: center;
  }
  #lekerekitve{
    border: 2px solid red;
    border-radius: 25px;
    background-color: red;
    margin: auto;
    width: 400px;
  }
  .keresettSzekreny{
    margin: auto;
    width: 50%;
  }
  .szekreny{
    text-align: center;
  }
  .bal1,.jobb1{
    padding: 5px;
  }
  .letszam{
    text-align: center;
  }
  header .letszam,form{
    display: block;
  }
  .szekrenyekTabla {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

}
