@charset "utf-8";


header {
  background-color: #222;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  
}
form, .letszam{

  display: inline-block;
}
#kereso .bal1, #kereso .jobb1, #kereso .gomb/* , header .letszam */ {
  display: inline-block;
  vertical-align: top;
  /* position: relative; */
}
.jobb1{
  text-align: right;
}
.keresSzemely,.keresSzekrenykulcs {
  border-radius: 5px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #cc0000;

}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
  /* szekrény szám kereső léptető módosítása */
  position:absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
}
input[type="number"]::-webkit-inner-spin-button:hover,input[type="number"]::-webkit-inner-spin-button:active {
  /* szekrény szám kereső léptető módosítása derengő piros szín*/
  box-shadow: 0 0 10px #cc0000;
  opacity: 0.8;
}
.lefoglal {
  /* Lefoglal gomb módosítása */
  background-color: black;
  color: #cc0000;
  border: 2px solid #cc0000;
  transition-duration: 0.4s;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
}
.lefoglal:hover {
  cursor: pointer;
  /* Lefoglal gomb módosítása */
  color: white;
  border: 2px solid black;
}
.lefoglal:active {
  /* Lefoglal gomb módosítása */
  background-color: darkred;
}
.letszam #SzabadSzoveg, .letszam .ferfiLetszam, .letszam .noiiLetszam{
  display: inline/* -block */;
}
header p, label,span{
  color:whitesmoke;
  font-size: 22px;
}
#kereso .gomb{
  padding-top: 1px;
}
.letszam {
  padding-top: 5px;
}
#kereso label{
  padding-top: 5px;
}
.fajlKivalaszt{
  border-radius: 5px;
  margin-bottom: 15px;
  width: 113px;
}
.szemelyKep{
  border-radius: 5px;
}
.felviszGomb{
  border-radius: 5px;
  width: 115px;
  margin-top: 10px;
}
.felviszGomb:hover{
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  header,.jobb1{
    text-align: center;
  }
}