@charset "utf-8";

section select {
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  font-size: 16px;
  color:rgb(88, 88, 88);
  width: 220px;
  height: 40px;
}
@media only screen and (max-width: 1050px) {
  .szekrenyek{
    padding-right: 10px;
    padding-left: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
  }
}
.szekrenyValtoztat {
  text-align: center;
}
@media only screen and (max-width: 700px) {
  .szekrenyek{
    padding-right: 10px;
    padding-left: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
  }
  
}